@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

// 设置 settingDrawer 为主题色
.ant-pro-setting-drawer-handle{
  background-color: @primary-color;
}

// 设置菜单图标颜色跟随主题色
.ant-menu-item .ant-menu-item-icon, 
.ant-menu-submenu-title .ant-menu-item-icon, 
.ant-menu-item .anticon, 
.ant-menu-submenu-title .anticon,
.ant-pro-base-menu .ant-pro-base-menu-item-icon{
  color: @primary-color;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
